
/* Navbar */
#navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: transparent;
  transition: background-color 0.3s;
}
.nav-container{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 89vw;
  margin: 0 auto;
}
.navbar_logo{
  font-size: 30px;
  font-weight: 500;
  margin:15px;
}
.navbar_logo a{
  font-family:'NeoDunggeunmo';
  text-decoration: none;
  color:#432718;
}
.navbar_menu{
  display:flex;
}
.menu_item{
  padding:8px 12px;
  margin:0 4px;
  border-radius:15px;
}

.menu_item.active {
  background-color:#dd8e97;
  /* border:1px solid #202020; */
}
.menu_item:hover{
  background-color: #dd8e97;
  transition-duration: 0.7s;
}
.menu_item.active a {
  color: white;
}


.nav-scroll{
  position: fixed;
  top:50%;
  right:4%;
  transform: translateY(-50%);
  z-index: 100;
}
.nav-scroll li {
  width: 12px;
  height: 12px;
  margin-bottom: 25px;
  position: relative;
}
.nav-scroll li a {
  margin: 0 auto;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cccccc;
  transition: all .3s;
}
.nav-scroll li a span {
  font-size: 12px;
  text-align: center;
  background-color: #ffd6db;
  line-height: 1;
  padding: 5px 10px;
  display: block;
  position: absolute;
  top: -6px;
  border-radius: 10px;
  opacity: 0;
  transition: all .3s;
}
.nav-scroll li a:hover span {
  opacity: 1;
  color:#5f5f5f;
}

/* toggle */
.toggle {
  position: absolute;
  display: none;
  right:6%;
  top: 20%;
  width: 25px;
  cursor: pointer;
}
.toggle span {
  border-radius: 2px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3f3f3f;
  transition: .3s ease-in-out;
  background: #ffffff;
}
.toggle span:nth-child(1) {
  top: 14px;
}
.toggle span:nth-child(2) {
  top: 20px;
}
.toggle span:nth-child(3) {
  width: 60%;
  top: 26px;
  left: 31%;
}


/* close */
.close{
  position: absolute;
  right:8%;
  top: 32%;
  cursor: pointer;
  display:none;
}
.close:after, .close:before {
  position: absolute;
  left: 10px;
  content: '';
  height: 25px;
  width: 3px;
  background-color: #ffffff;
  border-radius: 2px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* home */
#home {
  width:100%;
  height: 100vh;
  background: url(../img/home-background1.png);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  padding-top:120px;
  text-align: center;
  position: relative;
}
.home{
  position: absolute;
  top: 25%;
  width: 100%;
  height: auto;
}
.home_poto{
  width:250px;
  height:250px;
  border-radius: 50%;
  border:1.5px solid #432718;
  margin:0 auto;
  background-image: url("../img/profile.jpg");
  background-size: cover; 
  background-position: center;
}
.home_txt1{
  font-size: 48px;
  font-weight: 700;
  margin:20px 0;
  color:#432718;
}
.home_txt2{
  font-size:28px;
  font-weight: 400;
  color:#432718;
  margin:8px 0;
}
.home_btn{
  font-family:'NeoDunggeunmo';
  font-size: 18px;
  font-weight:500;
  display: inline-block;
  margin-top: 20px;
  padding:8px 12px;
  border: 1.5px solid #432718;
  border-radius:4px;
}
.home_btn:hover{
  color:#ffffff;
  background-color:#efbec4;
  border: 1.5px solid #dd8e97;
  transition-duration: 0.5s;
}


/* about */
#about{
  width: 100%;
  height: 100vh;
  padding-top:20vh;
}
.about-container{
  max-width: 67vw;
  margin: 0 auto;
}
.about_me{
  display: flex;
  justify-content: center;
}
.about_box{
  width: 380px;
  height: 480px;
  border: 1px solid #432718;
  border-radius:4px;
  background-color:#ffeeef;
  position: relative;
  box-shadow: 20px 20px 20px 3px #e3e3e3;
  margin-right: 12vw;
  margin-top: 1vw;
}
.about_id{
  padding:15px;
  margin:0px;
  color:#432718;
  font-weight:700;
  background-color:#ffd6db;
}
.about_hr{
  margin:0;
  border:0;
  border-top:1px solid #432718;
}
.info_boxx{
  display:block;
}
.info_img{
  border: 1px solid #432718;
  border-radius: 4px;
  width: 240px;
  height: 200px;
  background-image: url(../img/avatar11.png);
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top:30px;
}
.info_txt{
  margin: 0.7vw;
}
.info_name{
  font-size:18px;
}
.info_name_eng{
  font-size:14px;
}
.info_me{
  text-align: left;
}
.info__me, .email, .tell{
  margin-left:15px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.info__bday, .info__email, .info__pho{
  width: 150px;
  font-size: 14px;
  color:#7c7979;
}
.email-s{
  font-size:14px !important;
}
.info__small, .cer_neme{
  font-size: 16px;
  width: 150px;
}
.about-right{
  text-align: left;
}
.right-txt{
  width: 30vw;
  height: auto;
  line-height: 1.6;
  margin-top: 2vw;
}
.right-txt p{
  margin: 15px 0;
}
.right-main{
  font-size: 40px !important;
  font-weight: 700 !important;
  color:#432718;
  margin:10px 0 !important;
}
.about-btn{
  font-family:'NeoDunggeunmo';
  font-size: 18px;
  font-weight:500;
  padding:8px 12px;
  border: 1.5px solid #432718;
  border-radius:4px;
  display: inline-block;
  margin-top:15px;
}
.about-btn:hover{
  color:#ffffff;
  background-color:#efbec4;
  border: 1.5px solid #dd8e97;
  transition-duration: 0.5s;
}


/* krafton*/ /* hunter */
.kra_group, .hunter_group {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}
.inner {
  max-width: 89vw;
  margin: 0 auto;
}
.kra_group .inner, .hunter_group .inner {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.kra-wrap{
  width: 40vw;
  position: relative;
  z-index: 1;
  margin: 50px 100px 0 0;
}
.hun-wrap{
  width: 40vw;
  position: relative;
  z-index: 1;
  margin: 50px 0 0 100px;
}
.img-box{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background-size: 100% auto;
  background-position: 0 0;
  transition: background-position 4s ease-in-out;
}
.desktop_box:hover .img-box{
  background-position:0 103%;
}
.mobile-box:hover .img-box{
  background-position:0 100%;
}
.portfolio-group .inner .desktop_box {
  width: 100%;
}
.desktop_box .img-box {
  width: 97%;
  height: 68%;
  border-radius: 2%;
  top: 3%;
}
.desktop_box .frame {
  padding-bottom: 82%;
  background: url(../img/monitor1.png) no-repeat;
  width: 100%;
  position: relative;
  z-index: 1;
  background-size: contain;
}
.desktop_box::after {
  display: block;
  content: '';
  background: url(../img/mobile_shadow.png) no-repeat;
  width: 100%;
  padding-bottom: 15%;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
}
.kra-wrap .mobile-box{
  position: absolute;
  bottom: 20%;
  width: 21%;
  z-index: 1;
  left:-10%;
}
.hun-wrap .mobile-box {
  position: absolute;
  bottom: 20%;
  width: 21%;
  z-index: 1;
  right: -10%;
}
.kra-wrap .mobile-box .img-box {
  width: 90%;
  height: 95%;
  border-radius: 8%;
  top: 2.5%;
  left: 47%;
}
.hun-wrap .mobile-box .img-box {
  width: 86%;
  height: 95%;
  border-radius: 8%;
  top: 3%;
  left: 46%;
}
.mobile-box .frame {
  padding-bottom: 200%;
  background: url(../img/mobile.png) no-repeat;
  width: 100%;
  position: relative;
  z-index: 1;
  background-size: contain;
}
.mobile-box::after {
  display: block;
  content: '';
  background: url(../img/mobile_shadow.png) no-repeat;
  width: 200%;
  padding-bottom: 15%;
  position: absolute;
  top: 101%;
  left: 87%;
  transform: translateX(-50%);
  background-size: contain;
}
.por-font{
  font-family: 'InkLipquid';
  font-size:36px;
}
.por-txt{
  padding-bottom: 4vw;
}
.por-txt h3{
  font-size:48px;
  font-weight:600;
  color:#202020;
}
.por-list{
  line-height: 28px;
  padding-top: 2vw;
}
.tlt{
  display: inline-block;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
}
.tex{
  font-size:16px;
}
.link {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding-top: 40px;
}
.color-icon i {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-indent: -99px;
}
.color-icon i:nth-of-type(2) {
  margin: 0 5px;
}
.link a{
  width: 80px;
  padding: 5px 0;
  border: 1px solid #dd8e97;
  background-color: #dd8e97;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  transition: all .3s;
  border-radius: 5px;
  margin-right: 30px;
}
.link a:hover {
  background-color: #ffffff;
  border: 1px solid #dd8e97;
  color: #432718;
}


/* mywork */
#myWork {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  position: relative;
  background-color: #ffeeef;
}
.container{
  margin-top: 13vh;
}
.container h3 {
  margin-bottom: 80px;
}
.work_name{
  margin:25px;
}
.por_group2{
  display:flex;
  justify-content:center;
  margin-top: 50px;
}
.group_por{
  position: relative;
  cursor:pointer;
  overflow: hidden;
}
.por_btn:hover{
  box-shadow: 0 0 5px 5px #dd8e97;
}
.por_btn{
  width:250px;
  height:300px;
  border:1px solid #432718;
  border-radius:4px;
}
.por__img{
  max-height:200px;
  border-bottom:1px solid #432718;
  object-fit: cover;
}
.txt_box{
  padding:20px 25px;
  text-align:left;
}
.pro_name{
  font-weight: 700;
}
.pro_content{
  font-size:14px;
}
.por__img{
  background-position: center;
}
.por_btn{
  margin-right:20px;
}


/* footer */
#footer{
  padding:30px 0;
  background-color:#efbec4;
}
.footer_links{
  font-size:48px;
  margin:24px 0;
  display:flex;
  justify-content: center;
}

