/* max-width:1300px ~ 1025px */
@media (max-width:1300px) and (min-width:1025px) {
.navbar_logo{
  font-size:2.308vw;
  margin:1.154vw;
}
.menu_item{
  padding:0.615vw 0.923vw;
  margin:0 0.308vw;
  border-radius:15px;
}
#home {
  padding-top:9.231vw;
}
.home_poto{
  width:19.231vw;
  height:19.231vw;
}
.home_txt1{
  font-size:3.692vw;
  margin:1.538vw 0;
}
.home_txt2{
  font-size:2.154vw;
  margin:0.615vw 0;
}
.home_btn{
  font-size:1.385vw;
  margin-top:1.538vw;
  padding:0.615vw 0.923vw;
}


.about_box{
  width:29.231vw;
  height:36.923vw;
}
.about_id{
  padding:1.154vw;
}
.info_img{
  width: 18.462vw;
  height:15.385vw;
  margin-top:2.308vw;
}
.info_name{
  font-size:1.385vw;
}
.info_name_eng{
  font-size:1.077vw;
}
.info__me, .email, .tell{
  margin-left: 1.854vw;
  margin-bottom:0.769vw;
}
.info__bday, .info__email, .info__pho{
  width:11.538vw;
  font-size:1.077vw;
  color:#7c7979;
}
.info__small, .cer_neme{
  font-size:1.077vw;
  width:11.538vw;
}
.email-s{
  font-size:1.077vw !important;
}
.right-txt p{
  margin:1.154vw 0;
  font-size: 1.285vw;
}
.right-main{
  font-size: 2.508vw !important;
  line-height: 2.8vw;
  margin:0 0 !important;
}
.about-btn{
  font-size: 1.285vw;
  padding:0.615vw 0.923vw;
  margin-top:0.769vw;
}
.kra-wrap{
  width: 40vw;
  position: relative;
  z-index: 1;
  margin: 3.846vw 4.692vw 0 0;
}
.hun-wrap{
  width: 40vw;
  position: relative;
  z-index: 1;
  margin: 3.846vw 0 0 4.692vw;
}
.por-font{
  font-size:2.769vw;
}
.por-txt h3{
  font-size:3.692vw;
}
.por-list{
  line-height:2.154vw;
}
.por--font p{
  font-size:1.385vw;
}
.tlt{
  width:11.538vw;
  font-size:1.385vw;
}
.tex{
  font-size:1.231vw;
}
.link {
  padding-top:3.077vw;
}
.color-icon i {
  width:0.769vw;
  height:0.769vw;
}
.color-icon i:nth-of-type(2) {
  margin: 0 0.385vw;
}
.link a{
  width:6.154vw;
  padding: 0.385vw 0;
  font-size:1.231vw;
  margin-right:2.308vw;
}

.container h3 {
  margin-bottom:6.154vw;
}
.work_name{
  margin:1.923vw;
}
.por_group2{
  margin-top:3.846vw;
}
.por_btn{
  width:19.231vw;
  height:23.077vw;
}
.por__img{
  max-height:15.385vw;
}
.txt_box{
  padding: 1.808vw 2.259vw;
}
.pro_content{
  font-size:1.077vw;
}
.por__img{
  background-position: center;
}
.por_btn{
  margin-right:1.538vw;
}


/* footer */
#footer{
  padding:2.308vw 0;
}
.footer_links{
  margin:1.846vw 0;
}
.Copyright{
  font-size:1.385vw;
}
/* arrow */
.arrow{
  position:fixed;
  bottom:30px;
  right:30px;
  width:50px;
  height:50px;
  font-size:30px;
  background-color: #dd8e97;
  border-radius:50%;
}
.arrow a{
  color:#ffffff;
}
}

/* max-width:1024px ~ 768px */
@media (max-width:1024px) and (min-width:768px) {
.navbar_menu, .nav-scroll { 
  display: none;
}
.toggle {
  display: block;
}
.navbar_menu.open {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
  background-color: #dd8e97;
}

.navbar_logo{
  font-size:2.93vw;
  margin:1.465vw;
}
.menu_item{
  padding:0.781vw 1.172vw;
  margin:0 0.391vw;
}


#home {
  padding-top:11.719vw;
}
.home_poto{
  width:24.414vw;
  height:24.414vw;
}
.home_txt1{
  font-size:4.688vw;
  margin:1.953vw 0;
}
.home_txt2{
  font-size:2.734vw;
  margin:0.781vw 0;
}
.home_btn{
  font-size:1.758vw;
  margin-top:1.953vw;
  padding:0.781vw 1.172vw;
}


/* about */
#about {
  width: 100%;
  height: 110vh;
  padding-top: 20vh;
}
.about_me {
  display:block;
}
.about_box{
  margin: auto;
  width:37.109vw;
  height: auto;
}
.about_id{
  padding:1.154vw;
}
.info_img{
  width: 18.462vw;
  height:15.385vw;
  margin-top:2.308vw;
}
.about_id {
  font-size:1.758vw;
}
.info_name{
  font-size:1.458vw;
}
.info_name_eng{
  font-size:1.167vw;
  margin-bottom: 1.953vw;
}
.info__me, .email, .tell{
  margin-left:1.465vw;
  margin-bottom: 1.77vw;
}
.info__bday, .info__email, .info__pho{
  width:14.648vw;
  font-size:1.367vw;
}
.info__small, .cer_neme{
  font-size:1.563vw;
  width:14.648vw;
}
.email-s{
  font-size:1.27vw !important;
}
.about-right {
  text-align:center;
  margin-top: 100px;
}
.right-txt {
  margin: auto;
  width: 60vw;
}
.right-txt p{
  margin:1.465vw 0;
  font-size: 1.758vw;
}
.right-main{
  font-size: 2.906vw !important;
  margin: 20px 0 !important;
}
.about-btn{
  font-size:1.758vw;
  padding:0.781vw 1.172vw;
  margin-top:1.465vw;
}
.kra-wrap{
  margin: 4.883vw 9.766vw 0 0;
}
.hun-wrap{
  margin: 4.883vw 0 0 9.766vw;
}
.por-font{
  font-size:3.516vw;
}
.por-txt h3{
  font-size:4.688vw;
}
.por-list{
  line-height:2.734vw;
}
.por--font{
  font-size:1.758vw;
}
.tlt{
  width:14.648vw;
  font-size:1.758vw;
}
.tex{
  font-size:1.563vw;
}
.link {
  padding-top:3.906vw;
}
.color-icon i {
  width:0.977vw;
  height:0.977vw;
}
.color-icon i:nth-of-type(2) {
  margin: 0 0.488vw;
}
.link a{
  width:7.813vw;
  padding: 0.488vw 0;
  font-size:1.563vw;
  margin-right:2.93vw;
}

.container h3 {
  margin-bottom:7.813vw;
}
.work_name{
  margin:2.441vw;
}
.por_group2{
  margin-top:4.883vw;
}
.por_btn{
  width:24.414vw;
  height:29.297vw;
}
.por__img{
  max-height:19.531vw;
}
.txt_box{
  padding:1.953vw 2.441vw;
}
.pro_name p{
  font-size:1.758vw;
}
.pro_content{
  font-size:1.367vw;
}
.por__img{
  background-position: center;
}
.por_btn{
  margin-right:1.953vw;
}


/* footer */
#footer{
  padding:2.93vw 0;
}
.footer_links{
  margin:2.344vw 0;
}
.Copyright{
  font-size:1.758vw;
}
}


/* max-width:767 */
@media (max-width:767px){
.navbar_menu, .nav-scroll { 
  display: none;
}
.toggle {
  display: block;
}
.navbar_menu.open {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
  background-color: #dd8e97;
}

/* navbar */
.navbar_logo{
  font-size: 26px;
  margin:1.956vw;
}


/* home  */
#home {
  padding-top:15.645vw;
}
.home_poto{
  width:32.595vw;
  height:32.595vw;
}
.home_txt1{
  font-size: 5.258vw;
  margin: 3.608vw 0;
}
.home_txt2{
  font-size:3.651vw;
  margin:1.043vw 0;
}
.home_btn{
  font-size:2.347vw;
  margin-top:2.608vw;
  padding: 1.543vw 1.965vw;
}


/* about */
#about {
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
}
.about_me {
  display:block;
}
.about_box{
  display:none;
}
.about-right {
  text-align:center;
  margin-top: 0;
}
.right-txt {
  margin: auto;
  width:70vw;
}
.right-txt p{
  margin:2.956vw 0;
  font-size:2.347vw;
}
.right-main{
  font-size:3.9vw !important;
  line-height: 5vw;
  margin: 0 0 40px 0 !important;
}
.about-btn{
  font-size:2.347vw;
  padding: 1.443vw 1.565vw;
  margin-top:1.956vw;
}

.inner {
  max-width:none;
  margin: 0;
}
.hunter_group .inner {
  display: flex;
  flex-direction: column-reverse;
}
.por-txt {
  order: 2; /* por-txt가 아래로 */
}
.hun-wrap {
  order: 1; /* hun-wrap이 위로 */
}
.kra_group, .hunter_group {
  width: 100%;
  height: auto;
  padding-top: 10vh;
}
.kra_group .inner, .hunter_group .inner {
  height: auto;
  flex-direction: column;
}
.hun-wrap, .por-txt, .kra-wrap{
  margin:0;
}
.kra-wrap, .hun-wrap {
  width:55vw;
}
.kra_group .inner .por-txt{
  padding-top: 8%;
}
.por-font{
  font-size:4.694vw;
  text-align: center;
}
.por-txt h3{
  font-size:6.258vw;
  text-align: center;
}
.por-txt{
  padding-bottom:0;
}
.por-list {
  line-height:3.559vw;
}
.por--font{
  font-size:2.347vw;
  text-align: center;
}
.tlt{
  width:19.557vw;
  font-size: 2.586vw;
}
.tex {
  font-size: 2.586vw;
}
.link {
  justify-content: center;
  padding-top:5.215vw;
}
.color-icon i {
  width:1.804vw;
  height:1.804vw;
}
.color-icon i:nth-of-type(2) {
  margin: 0 0.652vw;
}
.link a{
  width:10.43vw;
  padding: 0.652vw 0;
  font-size:2.086vw;
  margin-right:3.911vw;
}
.link-none{
  display:none !important;
}


#myWork {
  width: 100%;
  height: 80vh;
}
.container h3 {
  margin-bottom:10.43vw;
}
.work_name{
  margin:3.259vw;
}
.por_group2{
  margin-top:6.519vw;
}
.por_btn{
  width:32.595vw;
  height:39.113vw;
}
.por__img{
  max-height:26.076vw;
}
.txt_box{
  padding:2.608vw 3.259vw;
}
.pro_name{
  font-size:2.086vw;
}
.pro_content{
  font-size:1.825vw;
}
.por_btn{
  margin-right:2.608vw;
}

/* footer */
#footer{
  padding:3.911vw 0;
}
.footer_links{
  margin:3.129vw 0;
}
.Copyright{
  font-size:2.347vw;
}
  
}

/* @media all and (max-width: 560px) {
.navbar_menu, .nav-scroll { 
  display: none;
}
.toggle {
  display: block;
}
.navbar_menu.open {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
  background-color: #dd8e97;
}
} */